<!DOCTYPE html>
<html lang="en">
<head>
  {% include('bootstrap.html') %}
  <title>Jovian-Careers</title>
</head>
<body>

  {% include 'nav.html' %}
  
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Jovian careers</h1>

    <h2 class="text-center">About Jovian</h2>
    <div class="row" style="margin-bottom:16px;">
      <div class="col-md-6">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue neque ac felis viverra iaculis. Nunc sed vestibulum est, ultricies pulvinar sapien. Vestibulum porttitor, velit vitae gravida hendrerit, elit ligula maximus eros, quis convallis metus nisi non neque. Donec varius neque non maximus tempus. Nullam at dui sed sapien facilisis aliquet eu quis justo. Curabitur lacinia pharetra nulla, quis ultricies orci dictum ut. Vestibulum sodales semper mattis. Maecenas et suscipit quam.
        </p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/static/images/people.jpg" style="height:320px; object-fit:cover;" class="img-fluid rounded-circle">
      </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Job openings</h2>
    <div>
      {% for job in jobs %}
      {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:oduyajohn66@jovian.ai?subject=Contact%20us&body=Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3CEnter%20question%20here%3E%0D%0A">Contact us</a>
    </div>

  </div>
  

  {% include 'footer.html' %}
  
</body>
</html>