<!DOCTYPE html>
<html lang="en">
<head>
  {% include ('bootstrap.html') %}
  <title>{{job['title']}} - Johnmorris Careers</title>
</head>
<body>

  {% include 'nav.html' %}

  <div class="container">
    <h1 class="text-center mt-2 mb-4">Johnmorris careers</h1>
    
    <h3 class="mb-2">Title</h3>
    <p>{{job['title']}}</p> 
    <h3>Location</h3>
    <p>{{ job.location }}</p>
    {% if 'salary' in job %}
    <h4>Salary</h4>
    <p>{{ job.currency }}{{ job.salary }}</p>
    {% endif %}
    <h4>Responsibilities</h4>
    <ul>
      {% for line in job.responsibilities.split("\n") %}
      <li>{{line}}</li>
      {% endfor %}
    </ul>
    <h4>Requirements</h4>
    <ol>
      {% for line in job.requirements.split("\n") %}
      <li>{{line}}</li>
      {% endfor %}
    </ol>  
    {% include ('applicationform.html') %}

  </div>

  
  {% include 'footer.html' %}

</body>
</html>